<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <div class="app">
        <div class="appAdmin">
            <div class="admin_header">
                <div class="admin_logo">
                    <div><i class="far fa-hand-peace"></i></div>
                    <div class="admin_logo-name">
                        <p>20CmShop Admin</p>
                    </div>
                </div>
                <div class="admin_search">
                    <input type="text" placeholder="Tìm kiếm">
                    <i class="fas fa-search"></i>
                </div>
                <div class="admin_user">
                    <div class="admin_user-icon">
                        <i class="fas fa-user-secret"></i>
                    </div>
                </div>
            </div>
            <div class="admin_container">
                <div class="admin_menu">
                    <div class="admin_item">
                        <i class="fa fa-home" aria-hidden="true"></i>
                        <p>Trang chủ</p>
                    </div>
                   <div class="admin_item">
                        <i class="fa fa-list-alt" aria-hidden="true"></i>
                        <p>Quản lý sản phẩm</p>
                    </div>
                    <div class="admin_item">
                        <i class="fas fa-users-cog"></i>
                        <p>Quản lý người dùng</p>
                    </div>
                    <div class="admin_item">
                        <i class="fas fa-tasks"></i>
                        <p>Quản lý đơn hàng</p>
                    </div>
                    <div class="admin_item">
                        <i class="fas fa-phone-square"></i>
                        <p>Câu hỏi từ khách hàng</p>
                    </div>
                    <div class="admin_item">
                        <i class="fas fa-newspaper"></i>
                        <p>Quản lý tin tức</p>
                    </div>
                    <div class="admin_item">
                        <i class="fas fa-chart-bar"></i>
                        <p>Thống kê</p>
                    </div>
                    <div class="admin_item">
                        <i class="fas fa-cogs"></i>
                        <p>Cài đặt</p>
                    </div>
                </div>
                <div class="admin_body">
                    <div class="admin_btnAddProcduct">
                        <p onclick="addProduct()">
                            Thêm sản phẩm
                        </p>
                    </div>
                    <div class="admin_product-header">
                        Quản lý sản phẩm
                    </div>
                    <div class="admin_product-content">
                        <div class="admin_product-table">
                            <div class="admin_product-table-row">
                                <div class="admin_product-table-cell-STT">
                                    <h3>STT</h3>
                                </div>
                                <div class="admin_product-table-cell-picture">
                                    <h3>Hình ảnh</h3>
                                </div>
                                <div class="admin_product-table-cell-name">
                                    <h3>Tên sản phẩm</h3>
                                </div>
                                <div class="admin_product-table-cell-price">
                                    <h3>Giá</h3>
                                </div>
                                <div class="admin_product-table-cell-quatity">
                                    <h3>Số lượng</h3>
                                </div>
                                <div class="admin_product-table-cell-operation">
                                    <h3>Thao tác</h3>
                                </div>
                            </div>
                            {{#each product}}
                            <div class="admin_product-table-row">
                                <div class="admin_product-table-cell-STT">
                                    <p>{{@index}}</p>
                                </div>
                                <div class="admin_product-table-cell-picture">
                                    <div class="table-cell-picture-item">
                                        {{#each this.image}}
                                        <div class="table-cell-picture-frame">
                                            <div class="table-cell-picture-img" style="background-image: url({{this}})"></div>
                                        </div>
                                        {{/each}}
                                    </div>
                                </div>
                                <div class="admin_product-table-cell-name">
                                    <p>{{this.name}}</p>
                                </div>
                                <div class="admin_product-table-cell-price">
                                    <p>{{formatNumber this.price}}đ</p>
                                </div>
                                <div class="admin_product-table-cell-quatity">
                                    <p>{{this.quatity}}</p>
                                </div>
                                <div class="admin_product-table-cell-operation">
                                    <div class="table-cell-operation-edit">
                                        <button onclick="btnEditProduct('{{this._id}}')">Chỉnh sửa</button>
                                    </div>
                                    <div class="table-cell-operation-remove">
                                        <button onclick="btnDeleteProduct('{{this._id}}')">Xóa</button>
                                    </div>
                                    <div class="table-cell-operation-evaluate">
                                        <button onclick="btnEvaluate('{{this._id}}')">Đánh giá</button>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/main.js"></script>
    <script>
        const $=document.querySelector.bind(document)
        const $$=document.querySelectorAll.bind(document)
        const container=document.querySelector('.admin_container')
        
        function ImagesFileAsURL() {
                var fileSelected = document.getElementById('imageProduct').files;
                if (fileSelected.length > 0) {
                    for (var i = 0; i < fileSelected.length; i++) {
                        var fileToLoad = fileSelected[i];
                        var fileReader = new FileReader();
                        fileReader.onload = function(fileLoaderEvent) {
                            var srcData = fileLoaderEvent.target.result;
                            var newImage = document.createElement('img');
                            newImage.src = srcData;
                            document.getElementById('displayImg').innerHTML += newImage.outerHTML;
                        }
                        fileReader.readAsDataURL(fileToLoad);
                    }

                }
            }
        function addProduct(){
            const htmls=`
                <div class="admin_addProcduct">
                    <form class="admin_addProduct-content"method="post" enctype="multipart/form-data" >
                        <div class="addProduct-title">
                            <h3>Thêm sản phẩm mới</h3>
                        </div>
                        <div class="addProduct-input">
                            <h3>Tên sản phẩm</h3>
                            <input type="text" placeholder="Tên sản phẩm" id="nameProduct" name="nameProduct">
                        </div>
                        <div class="addProduct-input">
                            <h3>Giá sản phẩm</h3>
                            <input type="text"placeholder="Giá tiền"id="priceProduct"name="priceProduct">
                        </div>
                        <div class="addProduct-input">
                            <h3>Nhãn hiệu</h3>
                            <input type="text"placeholder="Nhãn hiệu"id="trademarkProduct"name="trademarkProduct">
                        </div>
                        <div class="addProduct-input">
                            <h3>Level</h3>
                            <input type="text"placeholder="Level"id="levelProduct"name="levelProduct">
                        </div>
                        <div class="addProduct-input">
                            <h3>Tình trạng</h3>
                            <input type="text"placeholder="Tình trạng"id="statusProduct"name="statusProduct">
                        </div>
                        <div class="addProduct-input">
                            <h3>Số lượng</h3>
                            <input type="text"placeholder="Số lượng"id="quatityProduct"name="quatityProduct">
                        </div>
                        <div class="addProduct-input ">
                            <h3>Mô tả sản phẩm</h3>
                            <div class="overViewProduct">
                                <p>Tổng quan</p>
                                <textarea placeholder="Tổng quan" cols="30" rows="10"id="overviewProduct"name="overviewProduct"></textarea>
                            </div>
                             <div class="detailProduct">
                                <p>Chi tiết sản phẩm</p>
                                <textarea cols="30" rows="10" placeholder="Chi tiết sản phẩm"id="DetailProduct"name="detailProduct"></textarea>
                            </div>
                        </div>
                        <div class="addProduct-input">
                            <h3>Hình ảnh sản phẩm</h3>
                            <div class="uploadImageAddProduct">
                                    <input class="addImageProduct" type="file" name="imageProduct" id='imageProduct'onchange="ImagesFileAsURL()"placeholder="Hình ảnh" multiple >
                                    <label for="imageProduct">
                                        <i class="fas fa-upload"></i>
                                        Tải ảnh mới lên
                                    </label>
                                </div>
                            <div id="displayImg"></div>
                        </div>
                        <div class="addProduct">
                            <button type="submit">Thêm</button>
                            <p onclick="back()">Thoát</p>
                        </div>
                    </form>
                </div>
            `
            container.insertAdjacentHTML('beforeend',htmls)
        }
        function editImageProduct(){
            const editImageProduct=$('.editImageProduct')
            const btnEditImageProduct=$('.btnEditImageProduct')
            const urlImageOld=$('.urlImageOld')
            editImageProduct.style.display = 'block'
            btnEditImageProduct.style.display = 'none'
            urlImageOld.remove()
        }
        function btnEditProduct(id) {
            return window.location.href=`/admin/editProduct/${id}`
        }
        function btnEvaluate(id) {
            return window.location.href=`/admin/evaluateProduct/${id}`
        }
        function btnDeleteProduct(id) {
            const htmls=`
                <div class="admin_deleteProduct">
                    <div class="admin_deleteProduct-container">
                        <div class="admin_deleteProduct-title">
                            <h2>Xóa tài khoản vĩnh viễn khỏi hệ thống</h2>
                        </div>
                        <div class="admin_deleteProduct-btn">
                            <button onclick="btnDelete('${id}')">Đồng ý</button>
                            <button onclick="btnCancel()">Hủy bỏ</button>
                        </div>
                    </div>
                </div>
            `
            container.insertAdjacentHTML('beforeend',htmls)
        }
        function btnDelete(id){
            const url=`/admin/deleteProduct/${id}`
            const options={
                method: "DELETE",
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({
                    id: id,
                })
            }
            fetch(url, options)
            .then(response => response.json())
            .then(()=>{
                return window.location.href='/admin/product'
            })
            .catch(error =>{
                console.log(error)
            })
        }
        function btnCancel(){
            const elementCancel = document.querySelector('.admin_deleteProduct')
            elementCancel.remove()
        }
        function back() {
            const elementBack = document.querySelector('.admin_addProcduct')
            elementBack.remove()
        }
    </script>
</body>
</html>